<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body>

        <form action="/login" method="post">
            <input type="text" name="nome" placeholder="Nome de Usuário" required>
            <input type="password" name="senha" placeholder="Senha" required>
            <button type="submit">Login</button>
          </form>

    </body>
</html>


  